* {
    
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.body {
    font-family: 'Poppins', sans-serif;
}


.nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: white;
   padding: 1rem;
   box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.4);
   position: fixed;
   width: 100%;
   

   
   
}


.img__logo {
    width: 150x;
    height: 150px;
    border-radius: 100px;
}


.nav__link {
    list-style: none;
    display: flex;
    gap: 20px;
    color: black;
    cursor: pointer;
    
    

    
}

.item__link {}


.main{
    padding-top: 200px;
}

.hero-info { 
    text-align: center;
    background-image: url(./imagenes/pilar-fitness-gym.webp);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    color: white;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    box-shadow: 5px 8px 12px black;
    padding: 150px;

}

.btn { 

}
