* {
    
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.body {
    font-family: 'Poppins', sans-serif;
}

.img-logo {
    height: 150px;
}

.main { 
    padding-top: 100px;
    
}

.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.4);
    background: white;
    position: fixed;
    width: 100%;
}

.navbar-list { 
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap: 100px;
}

.navbar {
    display: flex;
}

.navbar i { 
    font-size: 36px;
    display: none;
}

#toggle-menu {
    display: none;
}

.navbar-link {
    text-decoration: none;
    color: black;
    font-weight: 300;
}

@media (max-width: 576px) {
    .navbar-list {
        background: white;
        width: 100px;
        height: calc(90vh - 80px);
        top: 80px;
        left: 0px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
    }
    .navbar i {
        display: block;
    }

    #toggle-menu:checked ~ .navbar-list {
        display: flex;
    }
}






.hero-info { 
    
    text-align: center;
    background-image: url(./imagenes/por_que_dejas_de_ver_resultados_cuando_entrenas_9833_3000x2000.webp);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    border-radius: 10px;
    color: rgba(247, 249, 237, 0.944);
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    box-shadow: 5px 8px 12px black;
    padding: 150px;
}

.parrafo {
   font-size: 30px;
   text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
   text-align: center;
   color: rgba(247, 249, 237, 0.944) ;
   
}

.btn {
    font-size: 20px;
    padding: 8px 20px;
    border-radius: 8px;
    border: solid 1px;
    margin-top: 20px;
    background-color: black;
    color:rgba(247, 249, 237, 0.944);
    cursor: pointer;
    transform: scale(1.1);
    
}


.subtitle { 
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
}


#cards {
    padding: 50px 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    
}

#cards h2 {
    font-size: 30px;
    color: #1c1e20 (247, 249, 237, 0.944);
    gap: 20px;
}

.info-card {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 450px;
    gap: 20px;

    font-size: 25px;
}

.p-cards {
    
    font-size: 20px;
    text-align: center;
    

}

.img-cards {
    width: 400px;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
}

.img-cards3 {
    width: 400px;
}



.info-cards-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}
